.ui.relative{
    position: relative;
}

/* Sortable
   ========================================================================== */
#sort1 .column{
    transition: 0.3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.is-dragged{
    transition: 0s!important;
    opacity: 0.5;
    z-index: 9000;
}
/* ========================================================================== */